{% extends 'base.html'%}

{% block content %}
    <h1>{% block title %} Bem-vindo ao serviço de postagens! {% endblock %}</h1>
    {% for post in posts %}
        <a href="{{ url_for('post', post_id=post['id'])}}">
            <h2>{{ post['title'] }}</h2>
        </a>
        <span>{{ post['created'] }}</span>
        <a href="{{ url_for('edit', id=post['id']) }}">
            <button class="btn btn-outline-primary" type="button">Editar</button>
        </a>
        <hr>
    {% endfor %}
{% endblock %}